:root {
    --cor1:#FACB23;
    --cor2:#EDC121;
    --cor3:#6E590F;
    --cor4:#D4AC1E;
 
 }
 
 *{
     margin: 0px;
     padding: 0px;
     list-style: none;
     text-decoration: none;
 }
 
 header{
     width: 25%;
     position: fixed;
 }
 .logo{
     color: rgb(6, 4, 4);
     max-width: 300px;
     background-color: var(--cor1);
 }
 .logo h1{
     padding-top: 10px;
     padding-left:20px;
     padding-bottom:10px;
 }
 nav {
     background-color: var(--cor1);
     max-width: 300px;
     position: relative;
     
     height: 1180px;
 }
 nav ul{
     padding: 0;
     transition:all 0.5s;
 }
 
 nav ul li a{
     color:black;
     padding: 20px;
     display: block;
 }
 
 nav ul li a:hover {
     background-color: var(--cor2);
 }
 
 nav ul li> ul{
     display: none;
 }
 nav ul li:hover ul {
     display: block;
 }
 
 
 section{
     margin-right: 25%;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: flex-end;
 
 width: 8;}
 section h1{
     width: 100%;
     text-align: center;
 }
 
 article img{
     width: 250px;
     height: 250px;
     object-fit: cover;
     border-radius: 1%;
 }
 
 article{
     padding: 10px;
 }
 
 footer{
     background-color:var(--cor1);
     text-align: center;
     font-size: 18px;
     z-index: -1;
 }
 
 .footer-detalhes{
     position: absolute;
     bottom: 0px;
     width: 100%;
 }
 
 .footer-cadastro-servico {
     position: absolute;
     width: 100%;
     bottom: 0px;
 }
 
 .footer-cadastro-empresa{
     position: absolute;
     bottom: 0px;
     width: 100%;
     text-align: center;
     background-color: var(--cor1);
 }
 
 
 /*PAGINA DETALHES */
 
 .table-marcenaria , th , td{
     border: 1px solid black;
 }
 .section-table-marcenaria{
     margin-right: 30%;
 }
 
 td{
     padding: 5px;
 }
 
 th{
     background-color: var(--cor1);
 }

 
 
 
 /*PAGINA CADASTRO EMPRESA*/
 .main-cadastro-empresa{
     display: grid;
     position: absolute;
     width: 30%;
     right: 30%;
     top: 20%;
     background-image:linear-gradient(to bottom, var(--cor1), var(--cor4));
     border-radius: 1%;
 }
 .main-cadastro-empresa legend{
     font-size: 20px;
 }
 
 .main-cadastro-empresa button{
     padding: 5px;
     background-color: var(--cor4);
     color: var(#6E590F);
     border: none;
 }
 
 .main-cadastro-empresa button:hover{
     border-bottom: 2px solid rgba(10, 6, 6, 0.529);
     border-top: 2px solid rgba(10, 6, 6, 0.529);
 }
 
 .form-empresa{
     padding: 10px;
 }
 
 .input-empresa{
     padding: 3px 3%;
 }
 
 /*PAGINA SERVICO*/
 .main-servico{
     display: grid;
     position: absolute;
     right: 20%;
     top: 20%;
     width: 40%;
     background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
     border-radius: 1%;
 }
 
 .main-servico legend{
     font-size: 20px;
 }
 
 .form-servico{
     padding: 15px;
    
 }
 
 .input-servico{
     padding: 3px 0%;
 }
 
 .main-servico button{
     padding: 5px;
     width: 100%;
     background-color:var(--cor4);
     color: var(#6E590F);
     border: none;
 }
 .main-servico button:hover{
     border-bottom: 2px solid rgba(10, 6, 6, 0.529);
     border-top: 2px solid rgba(10, 6, 6, 0.529);
 }
 
 @media (max-width:860px){
     nav{
         max-width: 200px;
     }
 
 }